.layout {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1170px;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}
