.layout {
  display: flex;
  flex-direction: row;
  width: 100wv;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  margin-left: 270px;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1170px;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 30px;
  gap: 30px;
}

.students {
  margin-left: 30px;
  margin-top: 60px;
}
